#main-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5vh 0 5vh 0;
}

.graphs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.roundbox {
  width: 1000px;
  height: 50vh;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 10px 2px var(--shadow-aqua);
}

.graph {
  margin: 10px;
  flex-grow: 1;
}

.legend {
  width: 400px;
  margin: 100px 100px;
}

.legendCheckbox {
  position:absolute;
  height:0;
  width:0;
  opacity:0;
}

.legendCheckbox + .legendLabel {
  color:gray;
  text-decoration: line-through;
  cursor: pointer;
}

#legendCheckboxA:checked + .legendLabel {
  color: var(--color-SP500);
  text-decoration:none;
}
#legendCheckboxB:checked + .legendLabel {
  color: var(--color-JPY);
  text-decoration:none;
}
#legendCheckboxC:checked + .legendLabel {
  color: var(--color-GBP);
  text-decoration:none;
}
#legendCheckboxD:checked + .legendLabel {
  color: var(--color-AUD);
  text-decoration:none;
}
#legendCheckboxE:checked + .legendLabel {
  color: var(--color-2YR);
  text-decoration:none;
}
#legendCheckboxF:checked + .legendLabel {
  color: var(--color-10YR);
  text-decoration:none;
}
#legendCheckboxG:checked + .legendLabel {
  color: var(--color-GOLD);
  text-decoration:none;
}
#legendCheckboxH:checked + .legendLabel {
  color: var(--color-OIL);
  text-decoration:none;
}

