#main-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5vh 0 5vh 0;
}

.graphs {
  justify-content: center;
  margin-top: 0px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  box-shadow: 1px 1px 5px 0.3px var(--shadow-aqua);
}

.roundbox {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.graph {
  margin: 30px;
  flex-grow: 1;
  margin-left: -80px
}


.legend {
  width: 400px;
  margin: 100px 50px 100px 100px;
  font-size: 17px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.legendCheckbox {
  position:absolute;
  height:0;
  width:0;
  opacity:0;
}

.legendCheckbox + .legendLabel {
  color:gray;
  text-decoration: line-through;
  cursor: pointer;
}

#legendCheckboxA:checked + .legendLabel {
  color: var(--color-SP500);
  text-decoration:none;
}
#legendCheckboxB:checked + .legendLabel {
  color: var(--color-JPY);
  text-decoration:none;
}
#legendCheckboxC:checked + .legendLabel {
  color: var(--color-GBP);
  text-decoration:none;
}
#legendCheckboxD:checked + .legendLabel {
  color: var(--color-AUD);
  text-decoration:none;
}
#legendCheckboxE:checked + .legendLabel {
  color: var(--color-2YR);
  text-decoration:none;
}
#legendCheckboxF:checked + .legendLabel {
  color: var(--color-10YR);
  text-decoration:none;
}
#legendCheckboxG:checked + .legendLabel {
  color: var(--color-GOLD);
  text-decoration:none;
}
#legendCheckboxH:checked + .legendLabel {
  color: var(--color-OIL);
  text-decoration:none;
}

.legend{
  margin: 100px 50px 100px 60px;
  width: 200px;
}


/*.col2{
  margin-left: 20px;
}*/

.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: var(--color-SP500);
  /* Control the thikness of your lines */
  stroke-width: 5px;
}
.ct-series-a .ct-point{
  stroke: var(--color-SP500);
}

.ct-series-b .ct-line {
  /* Set the colour of this series line */
  stroke: var(--color-JPY);
  /* Control the thikness of your lines */
  stroke-width: 5px;
}
.ct-series-b .ct-point{
  stroke: var(--color-JPY);
}

.ct-series-c .ct-line {
  /* Set the colour of this series line */
  stroke: var(--color-GBP);
  /* Control the thikness of your lines */
  stroke-width: 5px;
}
.ct-series-c .ct-point{
  stroke: var(--color-GBP);
}

.ct-series-d .ct-line {
  /* Set the colour of this series line */
  stroke: var(--color-AUD);
  /* Control the thikness of your lines */
  stroke-width: 5px;
}
.ct-series-d .ct-point{
  stroke: var(--color-AUD);
}

.ct-series-e .ct-line {
  /* Set the colour of this series line */
  stroke: var(--color-2YR);
  /* Control the thikness of your lines */
  stroke-width: 5px;
}
.ct-series-e .ct-point{
  stroke: var(--color-2YR);
}

.ct-series-f .ct-line {
  /* Set the colour of this series line */
  stroke: var(--color-10YR);
  /* Control the thikness of your lines */
  stroke-width: 5px;
}
.ct-series-f .ct-point{
  stroke: var(--color-10YR);
}

.ct-series-g .ct-line {
  /* Set the colour of this series line */
  stroke: var(--color-GOLD);
  /* Control the thikness of your lines */
  stroke-width: 5px;
}
.ct-series-g .ct-point{
  stroke: var(--color-GOLD);
}

.ct-series-h .ct-line {
  /* Set the colour of this series line */
  stroke: var(--color-OIL);
  /* Control the thikness of your lines */
  stroke-width: 5px;
}
.ct-series-h .ct-point{
  stroke: var(--color-OIL);
}
