:root {
  /*
    Colors
  */
  --orange: #FF9F1C;
  --light-orange: #FFBF69;
  --light-aqua: #CBF3F0;
  --aqua: #2EC4B6;
  --white: #EEE;
  --shadow-aqua: #66CCCC;
  --color-SP500: #D00000;
  --color-JPY: #3F88C5;
  --color-GBP: #F2BB05;
  --color-AUD: #032B43;
  --color-2YR: #136F63;
  --color-10YR: #A4B0F5;
  --color-GOLD: #90BE6D;
  --color-OIL: #FC6471;
  /*
    Variables
  */
  --body-bg-color: var(--white);
  --bg-color: var(--light-aqua);
  --graph-title: var(--aqua);
  --navbar-text: var(--orange);
  --navbar-hover: var(--light-orange);
}
