
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800|Mukta" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./static/css/index.css">
  <title>Market Modeling | A Deep Learning Experiment</title>
</head>
<body>
  {% include "navbar.html" %}
  <div class="container mm-container">
    <div id="background">
        <p id="title"> Background </p>
        <p> Finding a model that predicts the markets has been
            long sought after by financial analysts, economic
            researchers, and traders. Computer scientists have
            more recently entered the race due to advances in machine
            learning, notably recurrent neural networks. Our project
            focuses on utilizing some of these advances to create a web app
            that predicts how the market will go in some period of time. </p>
    </div>

    <div class="team">
      <p id="title"> Meet the team! </p>
      <div class="individuals">
        <div class = "member_info">
            <img src="./static/images/richy.jpg" alt="">
            <p id="names"> Richy Chen</p>
            <p id="school"> CMC'2020 </p>

        </div>
        <div class = "member_info">
            <img src="./static/images/jason.jpg" alt="">
            <p id="names"> Jason Yi </p>
            <p id="school"> CMC'2020 </p>
        </div>

        <div class = "member_info">
            <img src="./static/images/abel.jpg" alt="">
            <p id="names"> Abel Leulseged</p>
            <p id="school"> CMC'2020 </p>
        </div>

        <div class = "member_info">
            <img src="./static/images/tony.png" alt="">
            <p id="names"> Tony Jiang</p>
            <p id="school"> CMC'2020 </p>
        </div>

        <div class = "member_info">
            <img src="./static/images/susan.JPG" alt="">
            <p id="names"> Susan Xiao</p>
            <p id="school"> PIT'2020 </p>
        </div>

      </div>
    </div>



  </div>
  {% include 'footer.html' %}
</body>
</html>




<!--  <!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800|Mukta" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./static/css/index.css">
  <title>Market Modeling | A Deep Learning Experiment</title>
</head>
<body>
  {% include "navbar.html" %}
  <div class="container mm-container">
    <p>Hello. This is where our we will give a brief introduction about the team.</p>
  </div>
  {% include 'footer.html' %}
</body>
</html>
 -->
