<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800|Mukta" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./static/css/index.css">
  <title>Market Modeling | A Deep Learning Experiment</title>
</head>
<body>
  {% include "navbar.html" %}
  <div class="container mm-container">
    <div id="home-top">
      <div>
        <input type="number" class="search" placeholder="How many days do you want to predict?">
        <button type="submit" class="go">GO!</button>
      </div>
    </div>
    <div class="steps">
      <div id="first">
        <p>Step 1: Input the number of days you would like to predict.</p>
        <img src="./static/images/square_logo.png" alt="">
      </div>
      <div id="second">
        <p>Step 2: Click on the parameters you would like to predict.</p>
        <img src="./static/images/square_logo.png" alt="">
      </div>
      <div id="third">
        <p>Step 3: Download the predictions of data</p>
        <img src="./static/images/square_logo.png" alt="">
      </div>
    </div>
  </div>
  {% include "footer.html" %}
</body>
</html>
