<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800|Mukta" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./static/css/index.css">
  <title>Market Modeling | A Deep Learning Experiment</title>
</head>
<body>
  {% include "navbar.html" %}
  <div class="container mm-container">
    <p>Hello. This is where our we will give instructions for our Market Modeling application.</p>
  </div>
  {% include 'footer.html' %}
</body>
</html>
