<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800|Mukta" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./static/css/index.css" type="text/css">
  <title>Market Modeling | A Deep Learning Experiment</title>
</head>

<body>
  {% include "navbar.html" %}
  <div class="container mm-container">
    <div id="main-top">
      <div>
        <input type="number" class="search" placeholder="How many days do you want to predict?">
        <button type="submit" class="go">GO!</button>
      </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>
      $(function() {
        $("li").click(function(e) {
          e.preventDefault();
          $("li").removeClass("selected");
          $(this).addClass("selected");
        });
      });
    </script>

    <ul class="tab">
        <li class="selected"><a href="#">Growth Rates</a></li>
        <li><a href="#">Levels</a></li>
    </ul>

    <div class="graphs">
      <div class="roundbox">
        <div class="legend">


          <p>
            <label>
              <input type="checkbox" class="legendCheckbox" id="legendCheckboxA" value="a" onchange="updateall();">
              <span class="legendLabel">SP500</span>
            </label>
            </p>
            <p>
              <label>
                <input type="checkbox" class="legendCheckbox" id="legendCheckboxB" value="b" onchange="updateall();">
                <span class="legendLabel">USDJPY</span>
              </label>
            </p>
            <p>
              <label>
                <input type="checkbox" class="legendCheckbox" id="legendCheckboxC" value="c" onchange="updateall();">
                <span class="legendLabel">GBPUSD</span>
              </label>
            </p>
            <p>
              <label>
                <input type="checkbox" class="legendCheckbox" id="legendCheckboxD" value="d" onchange="updateall();">
                <span class="legendLabel">AUDUSD</span>
              </label>
            </p>
             <p>
            <label>
              <input type="checkbox" class="legendCheckbox" id="legendCheckboxE" value="e" onchange="updateall();">
              <span class="legendLabel">2YTreasury</span>
            </label>
            </p>
            <p>
              <label>
                <input type="checkbox" class="legendCheckbox" id="legendCheckboxF" value="f" onchange="updateall();">
                <span class="legendLabel">10YTreasury</span>
              </label>
            </p>
            <p>
              <label>
                <input type="checkbox" class="legendCheckbox" id="legendCheckboxG" value="g" onchange="updateall();">
                <span class="legendLabel">Gold</span>
              </label>
            </p>
            <p>
              <label>
                <input type="checkbox" class="legendCheckbox" id="legendCheckboxH" value="h" onchange="updateall();">
                <span class="legendLabel">Oil</span>
              </label>
            </p>

         <!--  <div class="col1">
            <p>
            <label>
              <input type="checkbox" class="legendCheckbox" id="legendCheckboxA" value="a" onchange="updateall();">
              <span class="legendLabel">SP500</span>
            </label>
            </p>
            <p>
              <label>
                <input type="checkbox" class="legendCheckbox" id="legendCheckboxB" value="b" onchange="updateall();">
                <span class="legendLabel">USDJPY</span>
              </label>
            </p>
            <p>
              <label>
                <input type="checkbox" class="legendCheckbox" id="legendCheckboxC" value="c" onchange="updateall();">
                <span class="legendLabel">GBPUSD</span>
              </label>
            </p>
            <p>
              <label>
                <input type="checkbox" class="legendCheckbox" id="legendCheckboxD" value="d" onchange="updateall();">
                <span class="legendLabel">AUDUSD</span>
              </label>
            </p>
          </div>
          <div class="col2">
            <p>
            <label>
              <input type="checkbox" class="legendCheckbox" id="legendCheckboxE" value="e" onchange="updateall();">
              <span class="legendLabel">2YTreasury</span>
            </label>
            </p>
            <p>
              <label>
                <input type="checkbox" class="legendCheckbox" id="legendCheckboxF" value="f" onchange="updateall();">
                <span class="legendLabel">10YTreasury</span>
              </label>
            </p>
            <p>
              <label>
                <input type="checkbox" class="legendCheckbox" id="legendCheckboxG" value="g" onchange="updateall();">
                <span class="legendLabel">Gold</span>
              </label>
            </p>
            <p>
              <label>
                <input type="checkbox" class="legendCheckbox" id="legendCheckboxH" value="h" onchange="updateall();">
                <span class="legendLabel">Oil</span>
              </label>
            </p>
          </div> -->

        </div>
        <div class="ct-chart ct-golden-section graph"></div>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
  <script type="text/javascript" src="./static/js/graph.js"></script>
  <script>
    function updateall() {
      var checkboxes = document.querySelectorAll(".legendCheckbox"); //array of elements which are checkboxes
      for(var i = 0; i < checkboxes.length; i++) {
        var letter = checkboxes[i].value;
        var line = document.querySelector('.ct-series-' + letter); //gets on element called ctseriesa
        if (checkboxes[i].checked) {
          line.style.display = "inline";

        }
        else {
          line.style.display = "none";
        }
      }
    }
    setTimeout(updateall, 0); //calls the function and hides the lines
  </script>
</body>
</html>
