<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800|Mukta" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./static/css/index.css" type="text/css">
  <title>Market Modeling | A Deep Learning Experiment</title>
</head>

<body>
  {% include "navbar.html" %}
  <div class="container mm-container">
    <div id="main-top">
      <div>
        <form id="search">
          <input type="number" name="num" class="search" placeholder="How many days do you want to predict?">
          <button type="submit" class="go">GO!</button>
        </form>
      </div>
    </div>

    <div class="steps">
      <div id="first">
        <p><b>Step 1:</b> Input the number of days you would like to predict.</p>
        <img src="./static/images/step_1.gif" alt="">
      </div>
      <div id="second">
        <p><b>Step 2:</b> Click on the parameters you would like to predict.</p>
        <img src="./static/images/step_2.gif" alt="">
      </div>
      <div id="third">
        <p><b>Step 3:</b> Download the predictions of data</p>
        <img src="./static/images/step_2.gif" alt="">
      </div>
    </div>

    <div class="prediction">
      <ul class="tab">
          <li class="selected" id="growth"><a href="#">Growth Rates</a></li>
          <li id="levels"><a href="#">Levels</a></li>
      </ul>

      <div class="graphs">
        <div class="roundbox">
          <div class="legend">
            <p>
              <label>
                <input type="checkbox" class="legend-checkbox" id="legend-checkboxA" value="a" onchange="updateall();" checked>
                <span class="legendLabel">SP500</span>
              </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" class="legend-checkbox" id="legend-checkboxB" value="b" onchange="updateall();" checked>
                  <span class="legendLabel">USDJPY</span>
                </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" class="legend-checkbox" id="legend-checkboxC" value="c" onchange="updateall();" checked>
                  <span class="legendLabel">GBPUSD</span>
                </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" class="legend-checkbox" id="legend-checkboxD" value="d" onchange="updateall();" checked>
                  <span class="legendLabel">AUDUSD</span>
                </label>
              </p>
               <p>
              <label>
                <input type="checkbox" class="legend-checkbox" id="legend-checkboxE" value="e" onchange="updateall();" checked>
                <span class="legendLabel">2YTreasury</span>
              </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" class="legend-checkbox" id="legend-checkboxF" value="f" onchange="updateall();" checked>
                  <span class="legendLabel">10YTreasury</span>
                </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" class="legend-checkbox" id="legend-checkboxG" value="g" onchange="updateall();" checked>
                  <span class="legendLabel">Gold</span>
                </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" class="legend-checkbox" id="legend-checkboxH" value="h" onchange="updateall();" checked>
                  <span class="legendLabel">Oil</span>
                </label>
              </p>

          </div>
           <div class="ct-chart ct-golden-section graph"></div>
        <img src="./static/images/blue_loading_bouncing.gif" id="loading">
        </div>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
  <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="./static/js/graph.js"></script>
  <script>
    setTimeout(updateall, 0); //calls the function and hides the lines
    $('#search').submit(function(e) {
      e.preventDefault();
      $(".steps")[0].style.display = "none"
      $(".prediction")[0].style.display = "inherit"
      $("#loading")[0].style.display = "flex"
      $(".graph")[0].style.display = "none"
      var num = $(this).serialize().split("=")[1]
      if ($(".selected")[0].id == "levels") {
        $.post("{{url_for('prediction_levels')}}", JSON.stringify({"num": num}), function(data, status){
          graph(data)
        })
      } else {
        $.post("{{url_for('prediction_growth')}}", JSON.stringify({"num": num}), function(data, status){
          graph(data)
        })
      }
    })
    $(function() {
      $("li").click(function(e) {
        e.preventDefault();
        $("li").removeClass("selected");
        $(this).addClass("selected");
        $("#loading")[0].style.display = "flex"
        $(".graph")[0].style.display = "none"
        num = $("#search").serialize().split("=")[1]
        if ($(this)[0].id == "levels") {
          $.post("{{url_for('prediction_levels')}}", JSON.stringify({"num": num}), function(data, status){
            graph(data)
            setTimeout(updateall, 0);
          })
        } else {
          console.log(num)
          $.post("{{url_for('prediction_growth')}}", JSON.stringify({"num": num}), function(data, status){
            graph(data)
            setTimeout(updateall, 0);
          })
        }
      });
    });
  </script>
</body>
</html>
